Repository voxpupuli/puppet-letsencrypt, pull requests merged in 2018-09, with the labels that each got.

#134 Add support for dns-google plugin support
  manifests/certonly.pp
Labels: enhancement

#136 Migrate letsencrypt::config::ini helper to native Puppet 4
  manifests/config.pp
  manifests/config/ini.pp
Labels: enhancement

#138 modulesync 2.0.0
  .msync.yml
  .overcommit.yml
  Gemfile
Labels: modulesync

#137 Bug/proper domain validation
  manifests/certonly.pp
  spec/defines/letsencrypt_certonly_spec.rb
  spec/type_aliases/plugin_spec.rb
  types/plugin.pp
Labels: bug, needs-work
