Repository voxpupuli/puppet-letsencrypt, pull requests merged in 2018-12, with the labels that each got.

#147 modulesync 2.3.1
  .editorconfig
  .github/CONTRIBUTING.md
  .msync.yml
  .pmtignore
  Dockerfile
  Gemfile
  spec/acceptance/nodesets/centos-511-x64.yml
  spec/acceptance/nodesets/centos-6-x64.yml
  spec/acceptance/nodesets/centos-66-x64-pe.yml
  spec/acceptance/nodesets/centos-66-x64.yml
  spec/acceptance/nodesets/centos-7-x64.yml
  spec/acceptance/nodesets/centos-72-x64.yml
  spec/acceptance/nodesets/debian-78-x64.yml
  spec/acceptance/nodesets/debian-82-x64.yml
  spec/acceptance/nodesets/fedora-24-x64.yml
  spec/acceptance/nodesets/fedora-25-x64.yml
  spec/acceptance/nodesets/fedora-26-x64.yml
  spec/acceptance/nodesets/fedora-27-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1204-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1404-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1604-x64.yml
Labels: modulesync

#122 Add cron time parameters
  README.md
  manifests/certonly.pp
  spec/defines/letsencrypt_certonly_spec.rb
Labels: enhancement

#113 #91: Cron should also run with space in certonly title
  manifests/certonly.pp
  spec/defines/letsencrypt_certonly_spec.rb
Labels: bug

#148 Improve performance of unless
  manifests/certonly.pp
  spec/defines/letsencrypt_certonly_spec.rb
Labels: enhancement
