Repository voxpupuli/puppet-letsencrypt, pull requests merged in 2019-03, with the labels that each got.

#177 Rework letsencrypt::certonly for #175
  README.md
  manifests/certonly.pp
  spec/defines/letsencrypt_certonly_spec.rb
Labels: backwards-incompatible

#174 Add support for certbot renew and hooks
  README.md
  manifests/certonly.pp
  manifests/hook.pp
  manifests/init.pp
  manifests/params.pp
  manifests/plugin/dns_rfc2136.pp
  manifests/renew.pp
  spec/classes/letsencrypt_spec.rb
  spec/defines/letsencrypt_certonly_spec.rb
  spec/defines/letsencrypt_hook_spec.rb
  spec/type_aliases/cron_hour_spec.rb
  spec/type_aliases/cron_minute_spec.rb
  spec/type_aliases/cron_monthday_spec.rb
  templates/hook.sh.epp
  types/cron/hour.pp
  types/cron/minute.pp
  types/cron/monthday.pp
Labels: enhancement

#179 #178 Add single quote around all domains names in shell commands
  manifests/certonly.pp
  spec/defines/letsencrypt_certonly_spec.rb
Labels: bug

#182 modulesync 2.6.0
  .msync.yml
  .travis.yml
  Dockerfile
  Gemfile
  README.md
  Rakefile
  manifests/install.pp
Labels: modulesync

#176 release 4.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
