Repository voxpupuli/puppet-letsencrypt, pull requests merged in 2022-11, with the labels that each got.

#297 Add support for ubuntu 22.04
  metadata.json
  spec/classes/plugin/dns_rfc2136_spec.rb
  spec/classes/plugin/dns_route53_spec.rb
Labels: enhancement

#277 Support logging cron output
  manifests/certonly.pp
  spec/defines/letsencrypt_certonly_spec.rb
Labels: backwards-incompatible

#301 Drop Fedora 32, add Fedora 36 support
  metadata.json
  spec/classes/plugin/dns_rfc2136_spec.rb
  spec/classes/plugin/dns_route53_spec.rb
Labels: backwards-incompatible

#300 Release 9.0.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
