Repository voxpupuli/puppet-letsencrypt, pull requests merged in 2022-01, with the labels that each got.

#271 create certificates from class parameter (hiera)
  REFERENCE.md
  manifests/init.pp
  spec/classes/letsencrypt_spec.rb
Labels: enhancement

#268 FreeBSD dns plugin packages
  data/FreeBSD-family.yaml
  spec/classes/plugin/dns_rfc2136_spec.rb
  spec/classes/plugin/dns_route53_spec.rb
Labels: enhancement

#267 install and use the certbot nginx plugin
  README.md
  REFERENCE.md
  data/os/CentOS/7.yaml
  data/os/RedHat/7.yaml
  manifests/certonly.pp
  manifests/plugin/dns_rfc2136.pp
  manifests/plugin/nginx.pp
  spec/acceptance/letsencrypt_plugin_nginx_spec.rb
  spec/classes/plugin/nginx_spec.rb
  spec/defines/letsencrypt_certonly_spec.rb
Labels: enhancement

#269 modulesync 5.1.0
  .github/workflows/ci.yml
  .msync.yml
  .puppet-lint.rc
  Gemfile
  Rakefile
  lib/facter/letsencrypt_directory.rb
  lib/puppet/functions/letsencrypt/letsencrypt_lookup.rb
  spec/acceptance/letsencrypt_plugin_dns_rfc2136_spec.rb
  spec/acceptance/letsencrypt_plugin_dns_route53_spec.rb
  spec/acceptance/letsencrypt_plugin_nginx_spec.rb
  spec/acceptance/letsencrypt_spec.rb
  spec/classes/letsencrypt_install_spec.rb
  spec/classes/letsencrypt_spec.rb
  spec/classes/plugin/dns_rfc2136_spec.rb
  spec/classes/plugin/dns_route53_spec.rb
  spec/classes/plugin/nginx_spec.rb
  spec/defines/letsencrypt_certonly_spec.rb
  spec/defines/letsencrypt_hook_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
  spec/type_aliases/cron_hour_spec.rb
  spec/type_aliases/cron_minute_spec.rb
  spec/type_aliases/cron_monthday_spec.rb
  spec/type_aliases/plugin_spec.rb
Labels: modulesync

#272 version 8.0.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#273 Don't use reserved words
  manifests/init.pp
Labels: bug

#274 version 8.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
