Repository voxpupuli/puppet-letsencrypt, pull requests merged in 2022-12, with the labels that each got.

#303 Update REFERENCE.md with recent breaking changes
  REFERENCE.md
Labels: bug

#304 Release 9.0.1
  CHANGELOG.md
  README.md
  metadata.json
Labels: skip-changelog

#305 modulesync 5.4.0
  .msync.yml
  Gemfile
Labels: modulesync
