Repository voxpupuli/puppet-letsencrypt, pull requests merged in 2023-04, with the labels that each got.

#311 certonly: Implement default hook commands
  REFERENCE.md
  manifests/certonly.pp
  manifests/init.pp
  spec/defines/letsencrypt_certonly_spec.rb
Labels: enhancement

#312 Add Rocky 8 support
  metadata.json
  spec/classes/plugin/dns_rfc2136_spec.rb
  spec/classes/plugin/dns_route53_spec.rb
Labels: enhancement

#313 Add CentOS 8 support
  metadata.json
  spec/classes/plugin/dns_rfc2136_spec.rb
  spec/classes/plugin/dns_route53_spec.rb
Labels: enhancement

#315 Add missing datatypes and documentation
  .puppet-lint.rc
  .sync.yml
  REFERENCE.md
  manifests/certonly.pp
  manifests/config.pp
  manifests/init.pp
  manifests/plugin/dns_cloudflare.pp
Labels: enhancement

#316 Release 9.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#317 modulesync 5.5.0
  .gitignore
  .msync.yml
  .pmtignore
  Gemfile
  Rakefile
Labels: modulesync
