Repository voxpupuli/puppet-letsencrypt, pull requests merged in 2023-11, with the labels that each got.

#337 move `letsencrypt::configure_epel` from hiera to `init.pp`
  REFERENCE.md
  data/common.yaml
  manifests/init.pp
  manifests/plugin/dns_cloudflare.pp
  manifests/plugin/dns_rfc2136.pp
  manifests/plugin/dns_route53.pp
  manifests/plugin/nginx.pp
  metadata.json
Labels: docs

#324 Add Puppet 8 support
  metadata.json
Labels: enhancement

#340 modulesync 7.1.0
  .msync.yml
  Gemfile
Labels: skip-changelog
