Repository voxpupuli/puppet-letsencrypt, pull requests merged in 2023-01, with the labels that each got.

#298 Add dns-azure to allowed plugins
  spec/type_aliases/plugin_spec.rb
  types/plugin.pp
Labels: enhancement

#307 modulesync 5.4.0
  .github/SECURITY.md
Labels: modulesync

#308 Release 9.1.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
